examples/Bulk demo.json
[{"id":"a2a23981.65ffb8","type":"inject","z":"30e2e9e0.eeaab6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"rows","payload":"1000","payloadType":"num","x":500,"y":1240,"wires":[["e5d58c5e.f717c"]]},{"id":"e5d58c5e.f717c","type":"function","z":"30e2e9e0.eeaab6","name":"generate data","func":"// Table fields...\n// IP, Name, Timestamp, Param_Name, Param_Value\n\nlet IP = \"1.2.3.4\";\nlet Name = \"fake_device\";\nlet now = (new Date()).toISOString(); //generate a timestamp\nmsg.bulk_data_to_insert = []; //the msg property we will use to pass the data array to the MSSQL node\n\n//generate fake data rows of data in the following format...\n/*\n[\n    [col1, col2, coln... ], //row 1\n    [col1, col2, coln... ], //row 2\n    [col1, col2, coln... ], //row n\n]\n*/\nif (msg.topic == \"rows\") {\n    for (let x = 1; x <= msg.payload; x++) {\n        msg.bulk_data_to_insert.push([\n            IP, Name, now, `P${x + 1000}`, Math.random()\n        ]);\n    }\n} else {\n    for (let x = 1; x <= msg.payload; x++) {\n        msg.bulk_data_to_insert.push({\n            IP: IP, \n            Name: Name, \n            Timestamp: now, \n            Param_Name: `P${x + 1000}`,\n            Param_Value: Math.random()\n        });\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1240,"wires":[["2ac916dc.5237ea","637e54a2.26e5bc"]]},{"id":"2ac916dc.5237ea","type":"debug","z":"30e2e9e0.eeaab6","name":"Bulk Data to insert","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":1240,"wires":[]},{"id":"637e54a2.26e5bc","type":"MSSQL","z":"30e2e9e0.eeaab6","mssqlCN":"8d9d212a.cea03","name":"bulk insert -> demo_device_parameters_table","outField":"payload","returnType":"0","throwErrors":1,"query":"demo_device_parameters_table","modeOpt":"","modeOptType":"bulk","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"bulk_data_to_insert","rowsType":"msg","params":[{"output":false,"name":"IP","type":"NVarChar(200)","valueType":"msg","value":"payload"},{"output":false,"name":"Name","type":"NVarChar(200)","valueType":"num","value":"0"},{"output":false,"name":"Timestamp","type":"NVarChar(200)","valueType":"num","value":"0"},{"output":false,"name":"Param_Name","type":"NVarChar(200)","valueType":"num","value":"0"},{"output":false,"name":"Param_Value","type":"NVarChar(200)","valueType":"num","value":"0"}],"x":860,"y":1280,"wires":[["e561b73d.fa8b78"]]},{"id":"e561b73d.fa8b78","type":"debug","z":"30e2e9e0.eeaab6","name":"Bulk Insert Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":1320,"wires":[]},{"id":"4bf244d1.47238c","type":"inject","z":"30e2e9e0.eeaab6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"rows","payload":"10000","payloadType":"num","x":510,"y":1280,"wires":[["e5d58c5e.f717c"]]},{"id":"f1b15ddb.05938","type":"inject","z":"30e2e9e0.eeaab6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"objects","payload":"2000","payloadType":"num","x":510,"y":1320,"wires":[["e5d58c5e.f717c"]]},{"id":"8a34e8d.2457b18","type":"MSSQL","z":"30e2e9e0.eeaab6","mssqlCN":"8d9d212a.cea03","name":"Create demo_device_parameters_table","outField":"payload","returnType":"1","throwErrors":1,"query":"\r\nSET ANSI_NULLS ON\r\nSET QUOTED_IDENTIFIER ON\r\n\r\nCREATE TABLE [dbo].[demo_device_parameters_table](\r\n    [ID] int not null identity(1,1),\t\r\n    [IP] nvarchar(200) NULL,\r\n    [Name] nvarchar(200) NULL,\r\n    [Timestamp] nvarchar(200) NULL,\r\n    [Param_Name] nvarchar(200) NULL,\r\n    [Param_Value] float NULL\r\n) ON [PRIMARY]","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","rows":"rows","rowsType":"msg","params":[],"x":740,"y":1160,"wires":[["fcbc90.d59fd37"]]},{"id":"88b95643.847488","type":"inject","z":"30e2e9e0.eeaab6","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":490,"y":1160,"wires":[["8a34e8d.2457b18"]]},{"id":"fcbc90.d59fd37","type":"debug","z":"30e2e9e0.eeaab6","name":"Table creation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1020,"y":1160,"wires":[]},{"id":"495388cc.81bc08","type":"comment","z":"30e2e9e0.eeaab6","name":"1. Open the MSSQL node and set up the connection to your SQL Server","info":"","x":670,"y":940,"wires":[]},{"id":"65d35b0c.6d3e34","type":"comment","z":"30e2e9e0.eeaab6","name":"2. Click the \"Start\" Inject to create the table","info":"","x":580,"y":980,"wires":[]},{"id":"8c1a61ab.063e8","type":"comment","z":"30e2e9e0.eeaab6","name":"3. Click any of the \"rows: xxxx\" Injects to perform a Bulk Insert","info":"","x":640,"y":1020,"wires":[]},{"id":"3f0d339e.cd8ebc","type":"comment","z":"30e2e9e0.eeaab6","name":"4. Click \"Get Data\" Inject to select data from the table","info":"","x":610,"y":1060,"wires":[]},{"id":"fdc500a0.d8b21","type":"inject","z":"30e2e9e0.eeaab6","name":"Get top 1000 with ID >= 200","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1000","payload":"200","payloadType":"num","x":560,"y":1400,"wires":[["b7cb34cd.980808"]]},{"id":"b7cb34cd.980808","type":"MSSQL","z":"30e2e9e0.eeaab6","mssqlCN":"8d9d212a.cea03","name":"Select Data","outField":"payload","returnType":"0","throwErrors":1,"query":"PRINT 'Selecting TOP {{{topic}}} from demo_device_parameters_table'\r\nPRINT 'Where ID if > or = to '\r\nPRINT @ID\r\nSELECT TOP {{{topic}}} * \r\nFROM [dbo].[demo_device_parameters_table]\r\nWHERE ID >= @ID\r\nPRINT @@ROWCOUNT\r\n\r\n--Print info will appear in msg.sqlInfo","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"ID","type":"int","valueType":"msg","value":"payload"}],"x":810,"y":1420,"wires":[["5ff6742c.90d45c"]]},{"id":"5ff6742c.90d45c","type":"debug","z":"30e2e9e0.eeaab6","name":"Selected Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1020,"y":1420,"wires":[]},{"id":"c8d6f044.bb66b","type":"inject","z":"30e2e9e0.eeaab6","name":"Clean up","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":500,"y":1520,"wires":[["1d1d0ceb.6060a3"]]},{"id":"1d1d0ceb.6060a3","type":"MSSQL","z":"30e2e9e0.eeaab6","mssqlCN":"8d9d212a.cea03","name":"Drop demo_device_parameters_table","outField":"payload","returnType":"1","throwErrors":1,"query":"\r\nDROP TABLE [dbo].[demo_device_parameters_table]\r\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","rows":"rows","rowsType":"msg","params":[],"x":750,"y":1520,"wires":[["b55344c1.7c51c8"]]},{"id":"b55344c1.7c51c8","type":"debug","z":"30e2e9e0.eeaab6","name":"Clean up result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1020,"y":1520,"wires":[]},{"id":"644cb325.fc82dc","type":"inject","z":"30e2e9e0.eeaab6","name":"Get top 50 with ID >= 1000","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"50","payload":"1000","payloadType":"num","x":550,"y":1440,"wires":[["b7cb34cd.980808"]]},{"id":"867c6c7e.d2996","type":"comment","z":"30e2e9e0.eeaab6","name":"5. Click \"Clean up\" Inject to drop the table","info":"","x":580,"y":1100,"wires":[]},{"id":"8d9d212a.cea03","type":"MSSQL-CN","tdsVersion":"7_4","name":"My SQL Server connection","server":"192.168.1.38","port":"1433","encyption":false,"trustServerCertificate":true,"database":"testdb","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true}]